@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Mulish", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  scroll-behavior: smooth;
}
